/*
Primary Color: #db351e (red)
Secondary Color: gold
Background Color: black/white
Font Color: white/black
*/
body {
  font-family: 'Quicksand', sans-serif;
  background-color: black;
  color: white;
  font-size: 16px;
}

/* optimize for mobile screens/small less than 600px -- hide nav and use hamburger menu */
@media screen and (max-width: 600px) {
  .navHeader {
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 0;
    margin: 10px 10px 0;
  }

  .navtoggle a:not(:last-child) {
    display: none;
  }

  .navtoggle a.icon {
    float: right;
    display: block;
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 20px;
    padding-right: 0;
  }

  .navtoggle.responsive a.icon {
    position: absolute;
    right: 25px;
    top: 50px;
  }

  .navtoggle.responsive a:not(:last-child) {
    float: none;
    display: block;
    text-align: right;
    padding: 5px;
  }
}

.navHeader {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  margin: 10px;
}

.logo {
  max-width: 100px;
  padding-right: 2px;
  vertical-align: middle;
}

.name {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  display: inline-block;
  color: white;
  background-color: transparent;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: white;
  background-color: transparent;
  padding-top: 0;
  margin: 0;
}

.dish {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5em;
}

/* container for online order menu selection */
.select-dish {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5em;
}

/* hide browser's default checkbox */
.select-dish input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* create custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* add a grey background color on hover */
.select-dish:hover input ~ .checkmark {
  background-color: #ccc;
}

/* when checkbox is checked, add a blue background */
.select-dish input:checked ~ .checkmark {
  background-color: #db351e;
}

/* create checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* style checkmark/indicator */
.select-dish .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* show checkmark when checked */
.select-dish input:checked ~ .checkmark::after {
  display: block;
}

.submit-order {
  width: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.description {
  line-height: 1.5em;
}

.info {
  margin: 15px 0;
  line-height: 0.5em;
}

ul {
  padding: 0;
}

ul > li {
  list-style-type: none;
  margin: 5px 0;
}

p {
  line-height: 1.5em;
}

#highlight {
  color: gold;
  background-color: transparent;
}

a {
  text-decoration: none;
}

a.nav-link:hover {
  color: #db351e;
  background-color: transparent;
}

.nav-link {
  position: relative;
  text-transform: uppercase;
  margin: 0 15px;
  color: white;
  background-color: transparent;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
}

/* underline link from left to right: https://paulund.co.uk/css-animation-link-underline */
.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #db351e;
  color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

/* show underline and change width */
.nav-link:hover::before {
  visibility: visible;
  width: 100%;
}

/* add background color to the top navigation */
.navtoggle {
  font-family: 'Bebas Neue', sans-serif;
  background-color: black;
  color: white;
  padding-bottom: 15px;
  text-align: center;
}

/* style links inside the navigation bar */
.navtoggle a {
  display: inline-block;
  color: white;
  background-color: transparent;
  text-align: center;
  padding: 0;
  text-decoration: none;
  font-size: 24px;
  justify-content: center;
}

/* change color of links on hover */
.navtoggle a:hover {
  background-color: black;
  color: #db351e;
}

/* add active class to highlight the current page */
.navtoggle a.active {
  background-color: black;
  color: #db351e;
}

/* hide link that should open and close the topnav on small screens */
.navtoggle .icon {
  display: none;
}

/* reservation form styling */
fieldset {
  padding: 20px;
  line-height: 2em;
}

/* slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.mySlides .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.mySlides .btn:hover {
  background-color: gold;
  color: white;
}

/* next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* position "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* on hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* dots/bullets/indicators for slides */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* fading animation for slides */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

.container {
  background-color: white;
  color: black;
  margin: 0;
  padding: 25px;
}

.title {
  color: black;
  background-color: transparent;
}

.hours {
  color: black;
  background-color: transparent;
  text-align: center;
  padding-bottom: 20px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5px;
}

.column {
  margin: 0;
  display: inline-block;
  text-align: left;
}

.footer-col {
  margin: 0;
  display: block;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding: 5px;
  margin: 5px;
  font-size: 11px;
}

.copyright {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

/* medium screen size */
@media only screen and (min-width: 640px) {
  nav {
    padding-bottom: 10px;
  }

  nav > ul {
    list-style-type: none;
    text-align: center;
  }

  .navtoggle a:not(:last-child) {
    display: inline-block;
  }

  /* hide hamburger icon */
  .navtoggle a:last-child {
    display: none;
  }

  .container {
    background-color: white;
    color: black;
    margin: 0;
    padding: 100px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5px;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
  }

  .col-md-6 {
    width: 90%;
  }

  .mySlides img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .dish {
    font-weight: bold;
    font-size: 16px;
  }

  .footer-col {
    padding-left: 15%;
    margin: 0;
    display: block;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    font-size: 14px;
  }
}

/* large screen size */
@media only screen and (min-width: 1024px) {
  nav {
    padding-bottom: 10px;
  }

  nav > ul {
    list-style-type: none;
    text-align: center;
  }

  .navtoggle a:not(:last-child) {
    display: inline-block;
  }

  /* hide hamburger icon */
  .navtoggle a:last-child {
    display: none;
  }

  /* hide images by default */
  .mySlides,
  .mySlides2 {
    display: none;
  }

  .mySlides img,
  .mySlides2 img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .container {
    background-color: white;
    color: black;
    margin: 0;
    padding: 100px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5px;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
  }

  .col-lg-6 {
    width: 90%;
    display: inline-block;
    text-align: left;
    margin: 0;
  }

  .mySlides img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .dish,
  .select-dish {
    font-weight: bold;
    font-size: 18px;
  }

  .footer-col {
    padding-left: 5%;
    margin: 0;
    display: block;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    font-size: 16px;
  }
}
